.heading {
    display: flex;
    background-color: rgb(67, 113, 163);
    height: 30px;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.heading-link {
    margin: 10px;
    color: white;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.centered {
    display:flex;
    justify-content: center;
    align-items: center;

}

.mygrid {
    display: grid;
    grid-template-columns: 100px 100px 100px 100px 100px;
    grid-template-rows: 100px 100px;

}

.mygrid div {
    border-style: solid;
    display: flex;
    justify-content: center;
    align-items: center;   
}

.box1 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 3;
    background-color: red;
}


.box2 {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
    background-color: orange;
}

.box3 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    background-color: yellow;
}


.box4 {
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 2;
    background-color: green;
}

.box5 {
    grid-column-start: 5;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end: 3;
    background-color: indigo;
}

.box6 {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 3;
    background-color: purple;
}